<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529224016304-g403rhvju8tdm3bicaqjd86rohof360t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529224016304-g403rhvju8tdm3bicaqjd86rohof360t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529224016304-rlev8ld5rii8h9viafjrpdqbmho2v19h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-kd2CfUAbx-iEffIQ6Oi-gWQJE1T7wOA</string>
	<key>GCM_SENDER_ID</key>
	<string>529224016304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GanoGano</string>
	<key>PROJECT_ID</key>
	<string>ganogano-b07db</string>
	<key>STORAGE_BUCKET</key>
	<string>ganogano-b07db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529224016304:ios:8e7c0640dec43864053675</string>
</dict>
</plist>